# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\module4\2\thuchanh_2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
